/* Footer Container */
.footer {
    background-color:#262323;
    color: #333;
    padding: 2rem 1rem;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
  }
  
  /* Footer Sections */
  .footer-section {
    flex: 1;
    min-width: 150px;
    
  }
  
  .footer-heading 
    {
      color: #514f4f;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      font-style: normal;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      margin-right: 40px
  }
  .footer ul li a:hover {
    color:white;
    text-shadow: black 1px 2px 8px;
    cursor: grabbing;
    
  }
    li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background:black;
    transition: 0.2s;
    bottom: 0;
  }
  .footer li a:hover:after {
    width: 100%;
    
  }
  .footer-list {
    list-style: none;
    margin-top: -20px;
    padding: 0px;
    display:block ;
  }
  
  .footer-list li {
    margin-bottom: 0.5rem;
   margin-left: 52px;
   padding-top: 20px;
  }  
  /* Footer Logo Section */
  .footer-logo {
    text-align: center;
    flex: 1;
    
  }
  
  .footer-logo-icon {
    font-size: 1.5rem;
    color: #6c63ff;
    vertical-align: middle;
  }
  .footer-logo-icon img
  {
    width: 30px;
    height: auto;
    margin-left: -70px;
    color: white;
  }
  .p
  {
    color: white;
  }
  .footer-logo p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #404040;
    margin-left: 50px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-section {
      margin-bottom: 1rem;
    }
  
    .footer-logo {
      text-align: center;
    }
  }
  